h1{
    font-size: 36px;
    font-family: Verdana;
}

div{
    height: 500px;
    margin: 10px;
    border: 1px solid;
}

.img-large{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.align-right{
    float: right;
    margin-left: 10px;
}

.img-small{
    width: 50px;
    height: 50px;
    border-radius: 5%;
}

.img-medium{
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.align-left{
    float: left;
    margin-right: 10px;
}

.align-center{
    display: block;
    margin: 0px auto;
}