/* color */

/* forground color */

/* color name */

h1 {
    color: cornflowerblue;
}

/* hex code */

h2 {
    color: #c2c2c2;
}

/* rgb code */

p {
    color: rgb(0, 0, 25);
}

/* background color */


/* hex code */
body {
    background-color: #efefef;
}

h1 {
    background-color: brown;
}

h2 {
    background-color: deeppink;
}

p {
    background-color: rgb(95, 155, 0);
}